body { 
   background-image: url(AboutImg.png);
}

.body{
   background-size: 80%;
   background-position: center;
   background-repeat: no-repeat;
}

.main{
  color: #6E0F21;
  position: fixed;
  top: 20px;
  left: 175px;
  font-size: 35;
  font-family: cursive;
}
.a1{
  position: fixed;
  top: 10px;
  left: 410px;
  font-size: 45;
   color: #6E0F21;
  font-family: cursive;
}
.a2{
  position: fixed;
  top: 0px;
  left: 650px;
  font-size: 50;
   color: #6E0F21;
  font-family: cursive;
}
.a3{
  position: fixed;
  top: -15px;
  left: 900px;
  font-size: 50;
   color: #6E0F21;
  font-family: cursive;
}
.img {
  position: fixed;
  top:110;
  left: 770px;
  width: 250px; 
  height:250px;
}
.source {
  position: fixed;
  top: 355px;
  left:770px;
  font-style: italic;
  color: gray;
}

.text{
   border: 4px solid #6e0f21;
  border-radius: 5px;
  padding: 10px;
  inline-size: 900px;
  overflow-wrap: break-word;
  font-size: 14;
  font-family: monospace; 
  position: fixed;
  top:400px;
  left: 170px;
}


